<nav class="navbar navbar-fixed-top">

    <div class="container-fluid">

        <a ng-click="model.backToAssign()"
           class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn jgd-button col-xs-2"></a>

        <p class="jgd-banner col-xs-8">Build</p>

        <a ng-click="model.build()"
           class="glyphicon glyphicon-ok pull-right btn navbar-btn jgd-button col-xs-2"></a>

    </div>

</nav>

<div class="container-fluid">

    <div class="alert alert-danger" ng-if="model.error">
        {{model.error}}
    </div>

    <form>

        <div>
            <div class="row row-centered">
                <input ng-model="model.grid[0][0]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[0][1]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[0][2]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[0][3]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[0][4]" type="text" maxlength="1" class="jgd-square col-centered">
            </div>
            <div class="row row-centered">
                <input ng-model="model.grid[1][0]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[1][1]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[1][2]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[1][3]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[1][4]" type="text" maxlength="1" class="jgd-square col-centered">
            </div>
            <div class="row row-centered">
                <input ng-model="model.grid[2][0]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[2][1]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[2][2]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[2][3]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[2][4]" type="text" maxlength="1" class="jgd-square col-centered">
            </div>
            <div class="row row-centered">
                <input ng-model="model.grid[3][0]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[3][1]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[3][2]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[3][3]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[3][4]" type="text" maxlength="1" class="jgd-square col-centered">
            </div>
            <div class="row row-centered">
                <input ng-model="model.grid[4][0]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[4][1]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[4][2]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[4][3]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[4][4]" type="text" maxlength="1" class="jgd-square col-centered">
            </div>
            <div class="row row-centered">
                <input ng-model="model.grid[5][0]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[5][1]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[5][2]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[5][3]" type="text" maxlength="1" class="jgd-square col-centered">
                <input ng-model="model.grid[5][4]" type="text" maxlength="1" class="jgd-square col-centered">
            </div>
        </div>

    </form>

</div>