<nav class="navbar navbar-fixed-top">

    <div class="container-fluid">

        <a href="#/user/{{model.userId}}/puzzle"
           class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn jgd-button col-xs-2"></a>

        <p class="jgd-banner col-xs-8">Words</p>

        <div class="pull-right col-xs-2"></div>

    </div>

</nav>

<div class="container-fluid">

    <form>

        <!-- Word 1 -->
        <div class="form-group" ng-show="!model.wordOneErr">
            <label for="chooseWord1">Word 1</label>
            <input ng-model="model.word1" type="text" maxlength="5" id="chooseWord1"
                   class="form-control" placeholder="one">
        </div>
        <div class="form-group has-error" ng-show="model.wordOneErr">
            <label for="chooseWordErr1">Word 1</label>
            <input ng-model="model.word1" type="text" maxlength="5" id="chooseWordErr1" class="form-control"
                   aria-describedby="chooseWordErrBlock1" placeholder="one">
            <span id="chooseWordErrBlock1" class="help-block">{{model.wordOneErr}}</span>
        </div>

        <!-- Word 2 -->
        <div class="form-group" ng-show="!model.wordTwoErr">
            <label for="chooseWord2">Word 2</label>
            <input ng-model="model.word2" type="text" maxlength="5" id="chooseWord2"
                   class="form-control" placeholder="two">
        </div>
        <div class="form-group has-error" ng-show="model.wordTwoErr">
            <label for="chooseWordErr2">Word 2</label>
            <input ng-model="model.word2" type="text" maxlength="5" id="chooseWordErr2" class="form-control"
                   aria-describedby="chooseWordErrBlock2" placeholder="two">
            <span id="chooseWordErrBlock2" class="help-block">{{model.wordTwoErr}}</span>
        </div>

        <!-- Word 3 -->
        <div class="form-group" ng-show="!model.wordThreeErr">
            <label for="chooseWord3">Word 3</label>
            <input ng-model="model.word3" type="text" maxlength="5" id="chooseWord3"
                   class="form-control" placeholder="three">
        </div>
        <div class="form-group has-error" ng-show="model.wordThreeErr">
            <label for="chooseWordErr3">Word 3</label>
            <input ng-model="model.word3" type="text" maxlength="5" id="chooseWordErr3" class="form-control"
                   aria-describedby="chooseWordErrBlock3" placeholder="three">
            <span id="chooseWordErrBlock3" class="help-block">{{model.wordThreeErr}}</span>
        </div>

        <!-- Word 4 -->
        <div class="form-group" ng-show="!model.wordFourErr">
            <label for="chooseWord4">Word 4</label>
            <input ng-model="model.word4" type="text" maxlength="5" id="chooseWord4"
                   class="form-control" placeholder="four">
        </div>
        <div class="form-group has-error" ng-show="model.wordFourErr">
            <label for="chooseWordErr4">Word 4</label>
            <input ng-model="model.word4" type="text" maxlength="5" id="chooseWordErr4"
                   class="form-control" placeholder="four" aria-describedby="chooseWordErrBlock4">
            <span id="chooseWordErrBlock4" class="help-block">{{model.wordFourErr}}</span>
        </div>

        <!-- Word 5 -->
        <div class="form-group" ng-show="!model.wordFiveErr">
            <label for="chooseWord5">Word 5</label>
            <input ng-model="model.word5" type="text" maxlength="5" id="chooseWord5"
                   class="form-control" placeholder="five">
        </div>
        <div class="form-group has-error" ng-show="model.wordFiveErr">
            <label for="chooseWordErr5">Word 5</label>
            <input ng-model="model.word5" type="text" maxlength="5" id="chooseWordErr5"
                   class="form-control" placeholder="five" aria-describedby="chooseWordErrBlock5">
            <span id="chooseWordErrBlock5" class="help-block">{{model.wordFiveErr}}</span>
        </div>

    </form>

    <a ng-click="model.assignWords()" class="btn btn-block jgd-button">Confirm</a>
    <a href="#/user/{{model.userId}}/puzzle" class="btn btn-block jgd-button">Cancel</a>

</div>