<nav class="navbar navbar-fixed-top">

    <div class="container-fluid">

        <a ng-click="model.calculateLastPosition()"
           class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn jgd-button col-xs-2"></a>

        <p class="jgd-banner col-xs-8">Solve</p>

        <a href="#/user/{{model.userId}}/puzzle/{{model.puzzleId}}/comment"
           class="glyphicon glyphicon-comment pullright btn navbar-btn jgd-button col-xs-2"></a>

    </div>

</nav>

<div class="container-fluid jgd-underHeader">

    <div class="alert alert-success" ng-if="model.success">
        {{model.success}}
    </div>

    <div class="alert alert-danger" ng-if="model.error">
        {{model.error}}
    </div>

    <div class="row-centered" ng-repeat="row in model.puzzle.grid track by $index">
        <a ng-repeat="col in model.puzzle.grid[$index] track by $index" ng-click="model.log($parent.$index, $index)"
           class="col-centered btn jgd-button jgd-square-btn">
            {{model.puzzle.grid[$parent.$index][$index]}}
        </a>
    </div>

    <br><br>

    <div class="col-xs-12 row">
        <div class="row-centered col-xs-10">
            <p class="col-centered">{{model.cur}}</p>
        </div>
        <a class="glyphicon glyphicon-remove btn jgd-remove-friend pull-right col-xs-2" ng-show="model.cur"
              ng-click="model.clearQueue()"></a>
    </div>

    <ul class="col-xs-12 row">
        <li ng-repeat="word in model.checkList" class="col-centered col-xs-12 jgd-word-list">
            {{word}}
        </li>
    </ul>

</div>