
<!-- Fixed Header -->
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <!-- Back button -->
        <a href="widget-list.view.client.html" class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn"></a>

        <!-- Brand -->
        <p class="navbar-brand">Widget Edit</p>

        <!-- Confirm -->
        <a href="widget-list.view.client.html" class="glyphicon glyphicon-ok pull-right btn navbar-btn"></a>

    </div>

</nav>

<!-- Body -->
<div class="container underHeader overFooter">

    <form>

        <!-- Name -->
        <div class="form-group">
            <label for="widgetHeaderName">Name</label>
            <input type="text" placeholder="Name" id="widgetHeaderName" class="form-control">
        </div>

        <!-- Text -->
        <div class="form-group">
            <label for="widgetHeaderText">Text</label>
            <input type="text" placeholder="Text" id="widgetHeaderText" class="form-control">
        </div>

        <!-- Size -->
        <div class="form-group">
            <label for="widgetHeaderSize">Size</label>
            <select class="form-control" id="widgetHeaderSize">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
        </div>

    </form>

    <!-- Delete Button -->
    <a href="widget-list.view.client.html" class="btn btn-danger btn-block">Delete</a>

</div>

<!-- Fixed Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <!-- To Profile Page -->
        <a href="../user-pages/profile.view.client.html" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>
