
<!-- Fixed Header -->
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <!-- Back Button -->
        <a href="widget-list.view.client.html" class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn"></a>

        <!-- Brand -->
        <p class="navbar-brand">Widget Edit</p>

        <!-- Confirm -->
        <a href="widget-list.view.client.html" class="glyphicon glyphicon-ok pull-right btn navbar-btn"></a>

    </div>

</nav>

<!-- Body -->
<div class="container underHeader overFooter">

    <form>

        <div class="form-group">
            <label for="widgetYouTubeName">Name</label>
            <input type="text" placeholder="Name" id="widgetYouTubeName" class="form-control">
        </div>

        <div class="form-group">
            <label for="widgetYouTubeText">Text</label>
            <input type="text" placeholder="Text" id="widgetYouTubeText" class="form-control">
        </div>

        <div class="form-group">
            <label for="widgetYouTubeURL">URL</label>
            <input type="url" placeholder="url.web.site.com.gov" id="widgetYouTubeURL"
                   class="form-control" value="https://youtu.be/49cRG0qR46U">
        </div>

        <div class="form-group">
            <label for="widgetYouTubeWidth">Width</label>
            <input type="text" placeholder="Width" id="widgetYouTubeWidth" class="form-control">
        </div>

    </form>

    <!-- Delete Button -->
    <a href="widget-list.view.client.html" class="btn btn-danger btn-block">Delete</a>

</div>

<!-- Fixed Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <!-- To Profile -->
        <a href="../user-pages/profile.view.client.html" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>
