<div class="container-fluid">
    <div class="row-centered">
        <h1 class="col-centered jgd-banner">SearchScape</h1>
    </div>

    <br>

    <div class="row-centered">
        <img width="130px" class="col-centered" src="../../../images/ChooseWords.png">
        <p class="col-centered jgd-text col-xs-12">Choose your words...</p>
    </div>
    <br>

    <div class="row-centered">
        <img width="130px" class="col-centered" src="../../../images/BuildPuzzle.png">
        <p class="col-centered jgd-text col-xs-12">put them in a word search...</p>
    </div>
    <br>

    <div class="row-centered">
        <img width="130px" class="col-centered" src="../../../images/NamePuzzle.png">
        <p class="col-centered jgd-text col-xs-12">give your puzzle a name...</p>
    </div>
    <br>

    <div class="row-centered">
        <img width="130px" class="col-centered" src="../../../images/PuzzleList.png">
        <p class="col-centered jgd-text col-xs-12">...and voila! A puzzle is born.</p>
    </div>
    <br>

    <div class="row-centered">
        <img width="130px" class="col-centered" src="../../../images/FriendProfile.png">
        <p class="col-centered jgd-text col-xs-12">Find and add friends...</p>
    </div>
    <br>

    <div class="row-centered">
        <img width="130px" class="col-centered" src="../../../images/SolvePuzzle.png">
        <p class="col-centered jgd-text col-xs-12">and try to solve their puzzles!</p>
    </div>
    <br>

    <div class="row-centered">
        <img width="130px" class="col-centered" src="../../../images/Message.png">
        <p class="col-centered jgd-text col-xs-12">Share your thoughts with them privately...</p>
    </div>
    <br>

    <div class="row-centered">
        <img width="130px" class="col-centered" src="../../../images/Comments.png">
        <p class="col-centered jgd-text col-xs-12">...or publicly if you like.</p>
    </div>
    <br>

    <p class="jgd-text">Register for free!</p>

    <a href="#/login" class="btn btn-block jgd-button">Login</a>
    <a href="#/register" class="btn btn-block jgd-button">Register</a>

    <br>

</div>