<!-- Banner/Navbar -->
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-xs-2"></div>
        <p class="jgd-banner pull-center col-xs-8">Login</p>
        <div class="col-xs-2"></div>
    </div>
</nav>

<div class="container-fluid jgd-underHeader">

    <div class="alert alert-danger" ng-if="model.error">
        {{model.error}}
    </div>

    <form>

        <!-- Username -->
        <div class="form-group" ng-show="!model.usernameErr">
            <label for="loginUsername1">Username</label>
            <input ng-model="loginUsername" type="text" placeholder="bigboi3129" id="loginUsername1"
                   class="form-control">
        </div>
        <div class="form-group has-error" ng-show="model.usernameErr">
            <label for="loginUsername2">Username</label>
            <input ng-model="loginUsername" type="text" placeholder="bigboi3129" id="loginUsername2"
                   class="form-control" aria-describedby="loginUsernameErr">
            <span id="loginUsernameErr" class="help-block">{{model.usernameErr}}</span>
        </div>

        <!-- Password -->
        <div class="form-group" ng-show="!model.passwordErr">
            <label for="loginPassword1">Password</label>
            <input ng-model="loginPassword" type="password" placeholder="guest" id="loginPassword1"
                   class="form-control">
        </div>
        <div class="form-group has-error" ng-show="model.passwordErr">
            <label for="loginPassword2">Password</label>
            <input ng-model="loginPassword" type="password" placeholder="guest" id="loginPassword2"
                   class="form-control" aria-describedby="loginPasswordErr">
            <span id="loginPasswordErr" class="help-block">{{model.passwordErr}}</span>
        </div>

    </form>

    <a ng-click="model.login(loginUsername, loginPassword)" class="btn btn-block jgd-button jgd-bot-space">Login</a>

    <a href="#/register" class="btn btn-block jgd-button">Register</a>

</div>
