<!-- Banner/Navbar -->
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="container-fluid col-xs-2"></div>
        <p class="jgd-banner pull-center col-xs-8">Profile</p>
        <a href="profile.view.client.html" class="glyphicon glyphicon-ok pull-right btn navbar-btn jgd-button col-xs-2"></a>
    </div>
</nav>

<div class="container-fluid jgd-underHeader">

    <form>

        <div class="form-group">
            <label for="profileFirst">First Name</label>
            <input type="text" placeholder="Doctor" id="profileFirst" class="form-control">
        </div>

        <div class="form-group">
            <label for="profileLast">Last Name</label>
            <input type="text" placeholder="Manhattan" id="profileLast" class="form-control">
        </div>

        <div class="form-group">
            <label for="profileEmail">Email</label>
            <input type="text" placeholder="god@earth.is.dumb" id="profileEmail" class="form-control">
        </div>

        <div class="form-group">
            <label for="profileUsername">Username</label>
            <input type="text" placeholder="blueman" id="profileUsername" class="form-control">
        </div>

    </form>

    <a href="../index.html" class="btn btn-block jgd-button jgd-bot-space">Logout</a>
    <a href="../puzzle/puzzle-list.view.client.html" class="btn btn-block jgd-button jgd-bot-space">My Puzzles</a>
    <a href="../friend/friend-list.view.client.html" class="btn btn-block jgd-button jgd-bot-space">Friends</a>

</div>
