<!-- Banner/Navbar -->
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <a href="#/" class="glyphicon glyphicon-chevron-left btn navbar-btn jgd-button col-xs-2"></a>
        <p class="jgd-banner pull-center col-xs-8">Register</p>
        <div class="col-xs-2"></div>
    </div>
</nav>

<!-- Body -->
<div class="container-fluid jgd-underHeader">

    <div class="alert alert-danger" ng-if="model.error">
        {{model.error}}
    </div>

    <form>

        <!-- First Name -->
        <div class="form-group">
            <label for="registerFirst">First Name</label>
            <input ng-model="fname" type="text" placeholder="Mario" id="registerFirst" class="form-control jgd-input">
        </div>

        <!-- Last Name -->
        <div class="form-group">
            <label for="registerLast">Last Name</label>
            <input ng-model="lname" type="text" placeholder="Mario" id="registerLast" class="form-control jgd-input">
        </div>

        <!-- Username -->
        <div class="form-group" ng-show="!model.usernameErr">
            <label for="registerUsername1">Username</label>
            <input ng-model="uname" type="text" placeholder="bigboi3129" id="registerUsername1" class="form-control jgd-input">
        </div>
        <div class="form-group has-error" ng-show="model.usernameErr">
            <label for="registerUsername2">Username</label>
            <input ng-model="uname" type="text" placeholder="bigboi3129" id="registerUsername2"
                   class="form-control jgd-input" aria-describedby="registerUsernameErr">
            <span id="registerUsernameErr" class="help-block">{{model.usernameErr}}</span>
        </div>

        <!-- Password -->
        <div class="form-group" ng-show="!model.passwordErr">
            <label for="registerPassword1">Password</label>
            <input ng-model="pass" type="password" placeholder="guest" id="registerPassword1" class="form-control jgd-input">
        </div>
        <div class="form-group has-error" ng-show="model.passwordErr">
            <label for="registerPassword2">Password</label>
            <input ng-model="pass" type="password" placeholder="guest" id="registerPassword2"
                   class="form-control jgd-input" aria-describedby="registerPasswordErr">
            <span id="registerPasswordErr" class="help-block">{{model.passwordErr}}</span>
        </div>

        <!-- Verify Password -->
        <div class="form-group" ng-show="!model.vpasswordErr">
            <label for="registerVPassword1">Verify Password</label>
            <input ng-model="vpass" type="password" placeholder="guest" id="registerVPassword1" class="form-control jgd-input">
        </div>
        <div class="form-group has-error" ng-show="model.vpasswordErr">
            <label for="registerVPassword2">Verify Password</label>
            <input ng-model="vpass" type="password" placeholder="guest" id="registerVPassword2"
                   class="form-control jgd-input" aria-describedby="registerVPasswordErr">
            <span id="registerVPasswordErr" class="help-block">{{model.vpasswordErr}}</span>
        </div>
        <div class="form-group has-error" ng-show="model.matchErr">
            <label for="registerVPassword3">Verify Password</label>
            <input ng-model="vpass" type="password" placeholder="guest" id="registerVPassword3"
                   class="form-control jgd-input" aria-describedby="registerVPasswordErr2">
            <span id="registerVPasswordErr2" class="help-block">{{model.matchErr}}</span>
        </div>

    </form>

    <a ng-click="model.register(fname, lname, uname, pass, vpass)" class="btn btn-block jgd-button jgd-bot-space">Register</a>
    <a ng-click="model.registerAsAdmin(fname, lname, uname, pass, vpass)" class="btn btn-block jgd-button jgd-bot-space">Register As Admin</a>
    <a href="#/login" class="btn btn-block jgd-button">Cancel</a>

</div>