<!-- Banner/Navbar -->
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <a href="../index.html" class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn jgd-button col-xs-2"></a>
        <p class="jgd-banner pull-center col-xs-8">Register</p>
        <div class="col-xs-2"></div>
    </div>
</nav>

<!-- Body -->
<div class="container-fluid jgd-underHeader">

    <form>

        <div class="form-group">
            <label for="registerFirst">First Name</label>
            <input type="text" placeholder="Mario" id="registerFirst" class="form-control jgd-input">
        </div>

        <div class="form-group">
            <label for="registerLast">Last Name</label>
            <input type="text" placeholder="Mario" id="registerLast" class="form-control jgd-input">
        </div>

        <div class="form-group">
            <label for="registerEmail">Email</label>
            <input type="text" placeholder="pc@load.letter" id="registerEmail" class="form-control jgd-input">
        </div>

        <div class="form-group">
            <label for="registerUsername">Username</label>
            <input type="text" placeholder="bigboi3129" id="registerUsername" class="form-control jgd-input">
        </div>

        <div class="form-group">
            <label for="registerFirst">Password</label>
            <input type="password" placeholder="guest" id="registerPassword" class="form-control jgd-input">
        </div>

    </form>

    <a href="profile.view.client.html" class="btn btn-block jgd-button jgd-bot-space">Register</a>
    <a href="../index.html" class="btn btn-block jgd-button">Cancel</a>

</div>
>