<nav class="navbar navbar-fixed-top">

    <div class="container-fluid">

        <a href="friend-list.view.client.html" class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn jgd-button col-xs-2"></a>

        <p class="jgd-banner pull-center col-xs-8">Add Friend</p>

        <div class="col-xs-2"></div>

    </div>

</nav>

<div class="container-fluid jgd-underHeader">

    <form>

        <div class="form-group">
            <input type="search" placeholder="search" id="addFriendSearch" class="form-control">
        </div>

    </form>

    <ul class="list-group">

        <li class="list-group-item">
            Dale
            <span class="btn jgd-remove-friend pull-right glyphicon glyphicon-remove"></span>
        </li>

        <li class="list-group-item">
            Dail
            <span class="btn jgd-remove-friend pull-right glyphicon glyphicon-remove"></span>
        </li>

        <li class="list-group-item">
            Dayle
            <span class="btn jgd-remove-friend pull-right glyphicon glyphicon-remove"></span>
        </li>

    </ul>

</div>
