<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable = no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
    <title>Add Friend</title>
</head>
<body>

    <nav class="navbar navbar-fixed-top">

        <div class="container-fluid">

            <a href="friend-list.view.client.html" class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn jgd-button col-xs-2"></a>

            <p class="jgd-banner pull-center col-xs-8">Add Friend</p>

            <div class="col-xs-2"></div>

        </div>

    </nav>

    <div class="container-fluid jgd-underHeader">

        <form>

            <div class="form-group">
                <input type="search" placeholder="search" id="addFriendSearch" class="form-control">
            </div>

        </form>

        <ul class="list-group">

            <li class="list-group-item">
                Dale
                <span class="btn jgd-remove-friend pull-right glyphicon glyphicon-remove"></span>
            </li>

            <li class="list-group-item">
                Dail
                <span class="btn jgd-remove-friend pull-right glyphicon glyphicon-remove"></span>
            </li>

            <li class="list-group-item">
                Dayle
                <span class="btn jgd-remove-friend pull-right glyphicon glyphicon-remove"></span>
            </li>

        </ul>

    </div>

</body>
</html>