<nav class="navbar navbar-fixed-top">

    <div class="container-fluid">

        <a href="#/user/{{model.userId}}/friend" class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn jgd-button col-xs-2"></a>

        <p class="jgd-banner pull-center col-xs-8">Add</p>

        <div class="col-xs-2"></div>

    </div>

</nav>

<div class="container-fluid jgd-underHeader">

    <div class="alert alert-danger" ng-if="model.error">
        {{model.error}}
    </div>

    <div class="input-group">
        <input ng-model="addFriendSearch" type="text" placeholder="search" id="addFriendSearch"
               class="form-control">
        <div class="input-group-btn">
            <a ng-click="model.search(addFriendSearch)"
               class="glyphicon glyphicon-search pull-right btn jgd-button"></a>
        </div>
    </div>

    <ul class="list-group">

        <li ng-show="model.results" class="list-group-item">
            <a href="#/user/{{model.userId}}/friend/{{model.results._id}}">{{model.results.username}}</a>
        </li>

    </ul>

</div>
