<!-- Banner/Navbar -->
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <a href="../views/user/profile.html" class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn jgd-button col-xs-2"></a>
        <p class="jgd-banner pull-center col-xs-8">Friends</p>
        <a href="add-friend.view.client.html" class="glyphicon glyphicon-plus pull-right btn navbar-btn jgd-button col-xs-2"></a>
    </div>
</nav>

<!-- List of friends -->
<div class="container-fluid jgd-underHeader">

    <ul class="list-group">

        <li class="list-group-item">
            <a href="friend-profile.view.client.html" class="jgd-friend-li">Billy</a>
            <a href="friend-list.view.client.html" class="glyphicon glyphicon-remove pull-right btn jgd-remove-friend"></a>
        </li>

        <li class="list-group-item">
            <a href="friend-profile.view.client.html" class="jgd-friend-li">Willy</a>
            <a href="friend-list.view.client.html" class="glyphicon glyphicon-remove pull-right btn jgd-remove-friend"></a>
        </li>

        <li class="list-group-item">
            <a href="friend-profile.view.client.html" class="jgd-friend-li">Paul</a>
            <a href="friend-list.view.client.html" class="glyphicon glyphicon-remove pull-right btn jgd-remove-friend"></a>
        </li>

    </ul>

</div>