<!-- Banner/Navbar -->
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn jgd-button col-xs-2"></a>
        <p class="jgd-banner pull-center col-xs-8">Friends</p>
        <a href="#/user/{{model.userId}}/friend/new" class="glyphicon glyphicon-plus pull-right btn navbar-btn jgd-button col-xs-2"></a>
    </div>
</nav>

<!-- List of friends -->
<div class="container-fluid jgd-underHeader">

    <ul class="list-group">

        <li ng-repeat="friend in model.friends" class="list-group-item">
            <a href="#/user/{{model.userId}}/friend/{{friend._id}}" class="jgd-friend-li">{{friend.username}}</a>
        </li>

    </ul>

</div>