
<!-- Fixed Header -->
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <!-- Back Button -->
        <a href="#/user/{{model.userId}}/website/{{model.webId}}/page" class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn"></a>

        <!-- Brand -->
        <p class="navbar-brand">Edit Page</p>

        <!-- Confirm -->
        <a ng-click="model.applyChanges()" class="glyphicon glyphicon-ok pull-right btn navbar-btn"></a>

    </div>

</nav>

<!-- Body -->
<div class="container underHeader overFooter">

    <form>

        <!-- Name Field -->
        <div class="form-group">
            <label for="editPageName">Name</label>
            <input ng-model="model.page.name" type="text" placeholder="Name" id="editPageName" class="form-control">
        </div>

        <!-- Title Field -->
        <div class="form-group">
            <label for="editPageTitle">Title</label>
            <input type="text" placeholder="Title" id="editPageTitle" class="form-control">
        </div>

    </form>

    <!-- Delete -->
    <a ng-click="model.deletePage()" class="btn btn-danger btn-block">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <!-- Go back to profile page -->
        <a href="#/profile/{{model.userId}}" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>
