
<!-- Fixed Header -->
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <p class="navbar-brand">Websites</p>

        <a href="#/user/{{model.userId}}/website/new" class="glyphicon glyphicon-plus pull-right btn navbar-btn"></a>

    </div>

</nav>

<!-- Body -->
<div class="container underHeader overFooter">

    <ul class="list-group">

        <li ng-repeat="website in model.websites" class="list-group-item">
            <a href="#/user/{{website._user}}/website/{{website._id}}/page">{{website.name}}</a>
            <a href="#/user/{{website._user}}/website/{{website._id}}"
               class="glyphicon glyphicon-cog pull-right btn"></a>
        </li>

    </ul>

</div>

<!-- Fixed Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <!-- Navigate to Profile page -->
        <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>
