
<!-- Fixed Header -->
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <!-- Navigate back to the Website List -->
        <a href="#/user/{{model.userId}}/website" class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn"></a>

        <!-- Header -->
        <p class="navbar-brand">New Website</p>

        <!-- Confirm -->
        <a ng-click="model.addWebsite(newName, newDescription)" class="glyphicon glyphicon-ok pull-right btn navbar-btn"></a>

    </div>

</nav>

<!-- Form -->
<div class="container underHeader overFooter">

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form>

        <!-- Name -->
        <div class="form-group" ng-show="!model.nameErr">
            <label for="newWebsiteName1">Name</label>
            <input ng-model="newName" type="text" placeholder="Name" id="newWebsiteName1" class="form-control">
        </div>
        <div class="form-group has-error" ng-show="model.nameErr">
            <label for="newWebsiteName2">Website Name</label>
            <input ng-model="newName" type="text" placeholder="Name" id="newWebsiteName2"
                   class="form-control" aria-describedby="newWebsiteNameErr">
            <span id="newWebsiteNameErr" class="help-block">{{model.nameErr}}</span>
        </div>

        <!-- Description -->
        <div class="form-group">
            <label for="newWebsiteDescription">Description</label>
            <textarea placeholder="Description" id="newWebsiteDescription" class="form-control" rows="5"
                        ng-model="newDescription"></textarea>
        </div>

    </form>

</div>

<!-- Fixed Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <!-- Navigate back to the Profile page -->
        <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>
>