
<!-- Fixed Header -->
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <!-- Navigate back to the Website List -->
        <a href="#/user/{{model.userId}}/website" class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn"></a>

        <!-- Header -->
        <p class="navbar-brand">New Website</p>

        <!-- Confirm -->
        <a ng-click="model.addWebsite(newName)" class="glyphicon glyphicon-ok pull-right btn navbar-btn"></a>

    </div>

</nav>

<!-- Form -->
<div class="container underHeader overFooter">

    <form>

        <!-- Name -->
        <div class="form-group">
            <label for="newWebsiteName">Name</label>
            <input ng-model="newName" type="text" placeholder="Name" id="newWebsiteName" class="form-control">
        </div>

        <!-- Description -->
        <div class="form-group">
            <label for="newWebsiteDescription">Description</label>
            <textarea placeholder="Description" id="newWebsiteDescription" class="form-control" rows="5"></textarea>
        </div>

    </form>

</div>

<!-- Fixed Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <!-- Navigate back to the Profile page -->
        <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>
>