@import url(https://fonts.googleapis.com/css?family=Fredoka+One);


* {
    font-family: 'Fredoka One';
    background-color : orange;
}

.jgd-banner {
    text-align : center;
    color : #cc6600;
    font-size : 2.5em;
    display : inline;
}

.jgd-button {
    background-color : #cc6600;
    color : #ff9933;
    border-radius: 18px;
}

a:hover {
    background-color : #e67300;
}

.jgd-text {
    text-align : center;
    color : #cc6600;
}

.jgd-bot-space {
    margin-bottom : 10px;
}

.jgd-underHeader {
    padding-top : 90px;
}

.jgd-input {
    background-color : #ffe6cc;
    border : none;
}

label {
    color : #cc6600;
}

.list-group-item {
    border : none;
    color : #cc6600;
    background-color : orange;
    font-size : 1.5em;
}

.jgd-friend-li:link {
    background-color : orange;
    text-decoration: none;
}

.jgd-friend-li:hover {
    background-color : orange;
    color : #2f79b9;
    text-decoration: underline;
}

.jgd-remove-puzzle {
    background-color : #ff4d4d;
    color : white;
}

.jgd-remove-friend:hover {
    background-color : #ff4d4d;
    color : black;
}

.alert-danger {
    background-color : #ffe6cc;
}

h2 {
    color : #cc6600;
    text-align : center;
}

h3 {
    color : #cc6600;
    text-align : center;
}

.jgd-square {
    text-align : center;
    background-color : white;
    width : 50px;
    height : 50px;
    border-radius: 10px;
    border-color : #ff9933;
    font-size : 2.5em;
}

/* .row-centered and .col-centered taken from: */
/* http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns */

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
}

.jgd-square-btn {
    text-align : center;
    width : 50px;
    height : 50px;
    border-radius: 10px;
    border-color : #ff9933;

    font-size : 1.75em;
}

.jgd-word-list {
    font-size : 1.5em;
}

.jgd-center {
    text-align : center;
}