
<!-- Fixed Header -->
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <!-- Go back to the website list -->
        <a href="#/user/{{model.userId}}/website" class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn"></a>

        <p class="navbar-brand">Edit Website</p>

        <!-- Confirm -->
        <a ng-click="model.updateWebsite()" class="glyphicon glyphicon-ok pull-right btn navbar-btn"></a>

    </div>

</nav>

<div class="container underHeader overFooter">

    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form>

        <div class="form-group">
            <label for="editWebsiteName">Website Name</label>
            <input ng-model="model.website.name" type="text" placeholder="Name" id="editWebsiteName" class="form-control">
        </div>

        <div class="form-group">
            <label for="editWebsiteDescription">Website Description</label>
            <textarea type="text" placeholder="Description" id="editWebsiteDescription"
                      class="form-control" rows="5">Are you distressed? Are you a clown in training? These are questions that touch the lives of so many people in need of relief. Ask your clown doctor if didgeridoo memes are the right choice for you.</textarea>
        </div>

    </form>

</div>

<!-- Fixed Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <!-- Go back to Profile page -->
        <a href="#/profile/{{model.userId}}" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>
