
<!-- Fixed Header -->
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <p class="navbar-brand">Websites</p>

        <a href="website-new.view.client.html" class="glyphicon glyphicon-plus pull-right btn navbar-btn"></a>

    </div>

</nav>

<!-- Body -->
<div class="container underHeader overFooter">

    <div class="table-responsive">

        <ul class="list-group">

            <li class="list-group-item">
                <a href="../page-pages/page-list.view.client.html">Deep Dark Dank Web</a>
                <a href="website-edit.view.client.html" class="glyphicon glyphicon-cog pull-right btn"></a>
            </li>

            <li class="list-group-item">
                <a href="../page-pages/page-list.view.client.html">Didgeridoo Memes For Distressed Clowns in Training</a>
                <a href="website-edit.view.client.html" class="glyphicon glyphicon-cog pull-right btn"></a>
            </li>

        </ul>

    </div>

</div>

<!-- Fixed Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <!-- Navigate to Profile page -->
        <a href="../user-pages/profile.view.client.html" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>
