
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <!-- Back Button -->
        <a href="#/user/{{model.userId}}/website/{{model.webId}}/page" class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn"></a>

        <!-- Brand -->
        <p class="navbar-brand">New Page</p>

        <!-- Confirm Button -->
        <a ng-click="model.addPage(newPageName, newPageDescription)" class="glyphicon glyphicon-ok pull-right btn navbar-btn"></a>

    </div>

</nav>

<div class="container underHeader overFooter">

    <form>

        <div class="form-group">
            <label for="editPageName">Name</label>
            <input ng-model="newPageName" type="text" placeholder="Name" id="editPageName" class="form-control">
        </div>

        <div class="form-group">
            <label for="editPageTitle">Description</label>
            <input type="text" placeholder="Description" id="editPageTitle" class="form-control" ng-model="newPageDescription">
        </div>

    </form>

    <a href="#/user/{{model.userId}}/website/{{model.webId}}/page" class="btn btn-danger btn-block">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <!-- Go back to profile page -->
        <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>
