<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/{{model.widgetId}}"
           class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn"></a>

        <p class="navbar-brand">Flickr Search</p>

    </div>

</nav>



<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>