
<!-- Body -->
<div class="container underHeader">

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form>

        <div class="form-group">
            <label for="widgetYouTubeName">Name</label>
            <input ng-model="model.widget.name" type="text" placeholder="Name" id="widgetYouTubeName" class="form-control">
        </div>

        <div class="form-group">
            <label for="widgetYouTubeText">Text</label>
            <input ng-model="model.widget.text" type="text" placeholder="Text" id="widgetYouTubeText" class="form-control">
        </div>

        <div class="form-group">
            <label for="widgetYouTubeURL">URL</label>
            <input ng-model="model.widget.url" type="url" placeholder="url.web.site.com.gov" id="widgetYouTubeURL"
                   class="form-control">
        </div>

        <div class="form-group">
            <label for="widgetYouTubeWidth">Width</label>
            <input ng-model="model.widget.width" type="text" placeholder="Width" id="widgetYouTubeWidth"
                   class="form-control">
        </div>

    </form>

    <!-- Delete Button -->
    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>

</div>
