
<!-- Body -->
<div class="container underHeader">

    <form>
        <div class="form-group"  ng-show="!model.nameErr">
            <label for="widgetHTMLName1">Name</label>
            <input ng-model="model.widget.name" type="text" placeholder="Name" id="widgetHTMLName1" class="form-control">
        </div>
        <div class="form-group has-error" ng-show="model.nameErr">
            <label for="widgetHTMLName2">Name</label>
            <input ng-model="model.widget.name" type="text" placeholder="Name" id="widgetHTMLName2"
                   class="form-control" aria-describedby="htmlWidgetNameErr">
            <span id="htmlWidgetNameErr" class="help-block">{{model.nameErr}}</span>
        </div>
    </form>

    <div ng-model="model.widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['html']]">
    </div>

    <br>

    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>

</div>
