<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/{{model.widgetId}}"
           class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn"></a>

        <p class="navbar-brand">Flickr Search</p>

    </div>

</nav>

<div class="container underHeader overFooter">

    <div class="input-group">
        <input ng-model="searchText" type="text" class="form-control">
    <span class="input-group-btn">
        <a ng-click="model.searchPhotos(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>

    <div class="row">
        <div class="col-xs-4" ng-repeat="photo in model.photos.photo">
            <img ng-click="model.selectPhoto(photo)" width="100%"
                 ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg"/>
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>