
<!-- Fixed Header -->
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <!-- Back Button -->
        <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget"
           class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn"></a>

        <!-- Brand -->
        <p class="navbar-brand">Choose Widget</p>

    </div>

</nav>

<!-- Body -->
<div class="container underHeader overFooter">

    <ul class="list-group ulNoDot">

        <li class="list-group-item"><a ng-click="model.makeHeader()">Header</a></li>
        <li class="list-group-item"><a href="#">Label</a></li>
        <li class="list-group-item"><a ng-click="model.makeHTML()">HTML</a></li>
        <li class="list-group-item"><a ng-click="model.makeTextInput()">Text Input</a></li>
        <li class="list-group-item"><a href="#">Link</a></li>
        <li class="list-group-item"><a href="#">Button</a></li>
        <li class="list-group-item"><a ng-click="model.makeImage()">Image</a></li>
        <li class="list-group-item"><a ng-click="model.makeYoutube()">YouTube</a></li>
        <li class="list-group-item"><a href="#">Data Table</a></li>
        <li class="list-group-item"><a href="#">Repeater</a></li>

    </ul>



</div>

<!-- Fixed Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <!-- Go back to Profile -->
        <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>
