

<!-- Body -->
<div class="container underHeader">

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form>

        <!-- Name -->
        <div class="form-group" ng-show="!model.nameErr">
            <label for="widgetImageName1">Name</label>
            <input ng-model="model.widget.name" type="text" placeholder="Name" id="widgetImageName1" class="form-control">
        </div>
        <div class="form-group has-error" ng-show="model.nameErr">
            <label for="widgetImageName2">Name</label>
            <input ng-model="model.widget.name" type="text" placeholder="Name" id="widgetImageName2"
                   class="form-control" aria-describedby="imageWidgetNameErr">
            <span id="imageWidgetNameErr" class="help-block">{{model.nameErr}}</span>
        </div>

        <!-- Text -->
        <div class="form-group">
            <label for="widgetImageText">Text</label>
            <input ng-model="model.widget.text" type="text" placeholder="Text" id="widgetImageText" class="form-control">
        </div>

        <!-- URL -->
        <div class="form-group">
            <label for="widgetImageURL">URL</label>
            <input ng-model="model.widget.url" type="url" placeholder="www.website.meme" id="widgetImageURL"
                   class="form-control">
        </div>

        <!-- Width -->
        <div class="form-group">
            <label for="widgetImageWidth">Width</label>
            <input ng-model="model.widget.width" type="text" placeholder="Some Percent%" id="widgetImageWidth"
                   class="form-control">
        </div>

        <!--&lt;!&ndash; Upload &ndash;&gt;-->
        <!--<div class="form-group">-->
            <!--<label for="widgetImageUpload">Upload</label>-->
            <!--<input type="file" id="widgetImageUpload" class="form-control">-->
        <!--</div>-->

    </form>

    <h4>Or... Upload An Image!</h4>

    <form action="/api/upload"  method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control" />
        <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
        <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
        <input  name="pageId" value="{{model.pageId}}"   style="display: none"/>
        <input  name="userId" value="{{model.userId}}"   style="display: none"/>
        <input  name="webId" value="{{model.webId}}"   style="display: none"/>
        <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
    </form>

    <!-- Delete Button -->
    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>

    <!-- Flickr Search -->
    <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/flickr" class="btn btn-primary btn-block">Search Flickr</a>

</div>

