
<!-- Fixed Header -->
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <!-- Back Button -->
        <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget"
           class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn"></a>

        <!-- Brand -->
        <p class="navbar-brand">Widget Edit</p>

        <!-- Confirm -->
        <a ng-click="model.updateWidget()" class="glyphicon glyphicon-ok pull-right btn navbar-btn"></a>

    </div>

</nav>

<!-- Body -->
<div class="container underHeader">

    <form>

        <!-- Name -->
        <div class="form-group">
            <label for="widgetImageName">Name</label>
            <input type="text" placeholder="Name" id="widgetImageName" class="form-control">
        </div>

        <!-- Text -->
        <div class="form-group">
            <label for="widgetImageText">Text</label>
            <input type="text" placeholder="Text" id="widgetImageText" class="form-control">
        </div>

        <!-- URL -->
        <div class="form-group">
            <label for="widgetImageURL">URL</label>
            <input ng-model="model.widget.url" type="url" placeholder="www.website.meme" id="widgetImageURL"
                   class="form-control">
        </div>

        <!-- Width -->
        <div class="form-group">
            <label for="widgetImageWidth">Width</label>
            <input ng-model="model.widget.width" type="text" placeholder="Some Percent%" id="widgetImageWidth"
                   class="form-control">
        </div>

        <!--&lt;!&ndash; Upload &ndash;&gt;-->
        <!--<div class="form-group">-->
            <!--<label for="widgetImageUpload">Upload</label>-->
            <!--<input type="file" id="widgetImageUpload" class="form-control">-->
        <!--</div>-->

    </form>

    <h4>Or... Upload An Image!</h4>

    <form action="/api/upload"  method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control" />
        <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
        <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
        <input  name="pageId" value="{{model.pageId}}"   style="display: none"/>
        <input  name="userId" value="{{model.userId}}"   style="display: none"/>
        <input  name="webId" value="{{model.webId}}"   style="display: none"/>
        <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
    </form>

    <!-- Delete Button -->
    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>

</div>

<!-- Fixed Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <!-- To Profile -->
        <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>
