<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget"
           class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn"></a>

        <p class="navbar-brand">Edit Widget</p>

        <a ng-click="model.updateWidget()" class="glyphicon glyphicon-ok pull-right btn navbar-btn"></a>

    </div>

</nav>

<div class="container">

    <div ng-switch="model.widget.type">

        <div ng-switch-when="HEADING">
            <ng-include src="'/assignment/views/widget/widget-heading.view.client.html'"></ng-include>
        </div>

        <div ng-switch-when="IMAGE">
            <ng-include src="'/assignment/views/widget/widget-image.view.client.html'"></ng-include>
        </div>

        <div ng-switch-when="YOUTUBE">
            <ng-include src="'/assignment/views/widget/widget-youtube.view.client.html'"></ng-include>
        </div>

    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>