
<!-- Fixed Header -->
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <!-- Back Button -->
        <a href="#/user/{{model.userId}}/website/{{model.webId}}/page"
           class="glyphicon glyphicon-chevron-left pull-left btn navbar-btn"></a>

        <!-- Brand -->
        <p class="navbar-brand">Widgets</p>

        <!-- Add a Widget -->
        <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new"
           class="glyphicon glyphicon-plus pull-right btn navbar-btn"></a>

    </div>

</nav>

<!-- Body -->
<div class="container underHeader overFooter" id="widgetRepeater">

    <div ng-repeat="widget in model.widgets">

        <div ng-switch="widget.type">

            <!-- Little white widget tool -->
            <div class="jgd-widget">

                <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/{{widget._id}}"
                   class="glyphicon glyphicon-cog"></a>
                <span class="glyphicon glyphicon-align-justify"></span>

            </div>

            <!-- Widget content -->
            <div ng-switch-when="HEADING" ng-switch="widget.size">

                <div ng-switch-when="1"><h1>{{widget.text}}</h1></div>
                <div ng-switch-when="2"><h2>{{widget.text}}</h2></div>
                <div ng-switch-when="3"><h3>{{widget.text}}</h3></div>
                <div ng-switch-when="4"><h4>{{widget.text}}</h4></div>
                <div ng-switch-when="5"><h5>{{widget.text}}</h5></div>
                <div ng-switch-when="6"><h6>{{widget.text}}</h6></div>

            </div>

            <div ng-switch-when="IMAGE">

                <img src="{{widget.url}}" width="{{widget.width}}">

            </div>

            <div ng-switch-when="YOUTUBE">

                <iframe width="{{widget.width}}" ng-src="{{model.getSafeUrl(widget)}}" frameborder="0" allowfullscreen></iframe>

            </div>

            <div ng-switch-when="HTML">

                <div ng-bind-html="model.getSafeHtml(widget)"></div>

            </div>

        </div>

    </div>

</div>

<!-- Fixed Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <!-- Play Button -->
        <span class="glyphicon glyphicon-play pull-left btn navbar-btn"></span>

        <!-- Eye Button (?) -->
        <span class="glyphicon glyphicon-eye-open pull-left btn navbar-btn"></span>

        <!-- Go to Profile page -->
        <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>
