
<!-- Fixed Header -->
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

            <p class="navbar-brand">Profile</p>

            <a ng-click="model.updateUser()" class="glyphicon glyphicon-ok pull-right btn navbar-btn"></a>

        </div>

</nav>


<!-- Body -->
<div class="container underHeader overFooter">

    <!-- Different banners to show whether the profile adjust went well -->
    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <!-- allow the User to change their profile -->
    <form>

        <!-- Username -->
        <div class="form-group">
            <label for="profileUsername">Username</label>
            <input ng-model="model.user.username" type="text" placeholder="yourUsernameHere" id="profileUsername" class="form-control">
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="profileEmail">Email</label>
            <input ng-model="model.user.email" type="text" placeholder="address@email.com" id="profileEmail" class="form-control">
        </div>

        <!-- First Name -->
        <div class="form-group">
            <label for="profileFirstName">First Name</label>
            <input ng-model="model.user.firstName" type="text" placeholder="Sterling" id="profileFirstName" class="form-control">
        </div>

        <!-- Last Name -->
        <div class="form-group">
            <label for="profileLastName">Last Name</label>
            <input ng-model="model.user.lastName" type="text" placeholder="Archer" id="profileLastName" class="form-control">
        </div>

    </form>

    <!-- Navigate back to Login page -->
    <a href="#/login" class="btn btn-danger btn-block">Logout</a>

    <!-- Navigate to this Developer's website list -->
    <a href="../website-pages/website-list.view.client.html" class="btn btn-primary btn-block">Websites</a>

</div>

<!-- Fixed Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">

        <a href="#/profile" class="glyphicon glyphicon-user pull-right btn navbar-btn"></a>

    </div>

</nav>
