
<div class="container">

    <h2>Register</h2>

    <form>

        <input type="text" placeholder="username" class="form-control">
        <input type="password" placeholder="password" class="form-control">
        <input type="password" placeholder="verify password" class="form-control">

    </form>

    <a href="profile.view.client.html" class="btn btn-primary btn-block" role="button">Register</a>
    <a href="login.view.client.html" class="btn btn-danger btn-block" role="button">Cancel</a>

</div>
